@font-face {
    font-family: montserratlight;
    src: url(../fonts/Montserrat-Light.otf);
    }
    

@font-face {
    font-family: montserratregular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserratmedium;
    src: url(../fonts/Montserrat-Medium.otf);
  }

  @font-face {
    font-family: montserratsemibold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
font-family: montserratbold;
src: url(../fonts/Montserrat-Bold.otf);
}

.header{
    position: fixed;
    top: 20%;
    left: 3%;
    max-width: 300px;
}



#godot_title {
    font-family: montserratregular;
    color: #313232;
    font-size: 50px;
    display: block;
    text-align: left;
    line-height: 50px;
    max-width: 300px;
    padding-bottom: 30px;
}

.godot_subtitle{
    color: #a4a4a4; 
    font-family: montserratregular;
    font-size: 16px;
    max-width: 180px;
    line-height: 22px;
}

.container{
   /*  background: red; */
}

.leftnav{
    overflow: hidden;

}

.rightcontent{
    padding: 100px 0 0 0;
    margin: 0px;
       
}

ul{
    padding: 0px;
}

li{
    text-decoration: none;
    list-style: none;

}


.fichelivre{
    padding-right: 5%;
    max-width: 580px;
    

}


.titleandauthor{
    border-left: 4px solid #313232;
    padding-left: 9px;
    cursor: pointer;
}


.titleandauthor:hover{
    border-left: 4px solid #a4a4a4; ;
    padding-left: 9px;
    cursor: pointer;
}

.page-numbers{
    color: #a4a4a4;
}

.pagination{
    margin-top: 50px;
    float: left !important;
}

.pagination a{
   background-color: #E4E4E4 !important; 
   color: #313232 !important;
}
.titleandauthor.green{
    /*border-left: 4px solid #3C9;*/

}

.titleandauthor a{
    text-decoration: none;
}

.current{
    background-color: #00C382 !important;
}

.titleofthebook{
    color: #313232;
    font-family: montserratregular;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 25px;
    margin: 0;
}

.authorofthebook{
    color: #a4a4a4; 
    font-family: montserratmedium;
}

.contentofthebook{
    font-family: montserratregular;
    color: #3b3d3d;
    line-height: 28px;
    display:none;
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 1.8em;

}

.contentofthebook.single{
display: block;
}

.contentofthebook blockquote p{
    font-size: 18px;
    line-height: 1.8em;
    text-align: left;
}

.whichpage{
    text-align: center !important;
    padding-top: 0px;
    margin-top: -10px;
    color: #a4a4a4;   
    font-size: 17px; 
}

.whichpage i{
padding-right: 10px;
}

.liste_citations li{
    margin-bottom: 40px;

}


.yellow_underline{
background-color: yellow;
}

.greenback{
    background-color:#3C9;
    color: white;
    padding: 5px 15px 0px 20px;
    margin: 0px;
}


.greentext{
    color:#3C9;
    font-family: montserratmedium;
}

.yellowback{
    background-color:#ffff66;
    padding: 5px 15px 0px 20px;
    margin: 0px;
}

.pagination{
    padding-top: 30px;
}







/*Pagination */
.pagination {
   clear:both;
   position:relative;
   font-size:11px; /* Pagination text size */
   line-height:13px;
   float:right; /* Pagination float direction */
}
.pagination span, .pagination a {
   display:block;
   float:left;
   margin: 2px 2px 2px 0;
   padding:6px 9px 5px 9px;
   text-decoration:none;
   width:auto;
   color:#fff; /* Pagination text color */
   background: #555; /* Pagination non-active background color */
   -webkit-transition: background .15s ease-in-out;
   -moz-transition: background .15s ease-in-out;
   -ms-transition: background .15s ease-in-out;
   -o-transition: background .15s ease-in-out;
   transition: background .15s ease-in-out;
}
.pagination a:hover{
   color:#fff;
   background: #6AAC70; /* Pagination background on hover */
}
.pagination .current{
   padding:6px 9px 5px 9px;
   background: #6AAC70; /* Current page background */
   color:#fff;
}


@media screen and (max-width:574px) {
    .header{
    
        max-width: 600px;
        position: static;
        padding: 0px;
        margin: 0px;
        padding-bottom:20px ;
        margin: 0 auto;
        text-align: center;    
    }

    #godot_title {

        font-size: 50px;
        display: block;
        text-align: center;
        line-height: 50px;
        max-width: 600px;
        padding-bottom: 0px;
        padding-top: 50px;
        font-size: 2.6em;
        margin-bottom:0px;
    }   
    
    .godot_subtitle{
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .rightcontent{
        padding: 50px 6% 0 6%;
        margin: 0px; 
    }


}