@font-face {
    font-family: montserratlight;
    src: url(../fonts/Montserrat-Light.otf);
    }
    

@font-face {
    font-family: montserratregular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserratmedium;
    src: url(../fonts/Montserrat-Medium.otf);
  }

  @font-face {
    font-family: montserratsemibold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
font-family: montserratbold;
src: url(../fonts/Montserrat-Bold.otf);
}






#godot_title {
    font-family: montserratregular;
    color: #313232;
    font-size: 50px;
    display: block;
    text-align: left;
    line-height: 50px;
    max-width: 300px;
    
}

.godot_subtitle{
    color: #a4a4a4; 
}

.header{
    padding: 50px 0px 100px 0px;
    position: fixed;
    max-width: 300px;
}

.container{
   /*  background: red; */
}
.leftnav{
    overflow: hidden;
    
    /*background-color: powderblue;*/
}

.rightcontent{
    /*background-color: palegreen;*/
    padding-top: 100px;
    padding-right: 15%;
    
}

li{
    text-decoration: none;
    list-style: none;

}


.fichelivre{
    padding-bottom: 20px;
}


.nameofthebook{
    color: #313232;
font-family: montserratregular;
text-transform: uppercase;
font-size: 1.4em;
line-height: 30px;
margin: 0;

}

.citationsofthebook{

    font-family: montserratregular;
    /*display: none;*/
    color: #313232;
    line-height: 30px;

}



.authorofthebook{
    color: #a4a4a4; 
    font-family: montserratsemibold;
}

.titleandauthor{
border-left: 5px solid #313232;
padding-left: 10px;

}

.titleandauthor a{
    text-decoration: none;


}